## Importing the modules

In [1]:
import pandas as pd
import numpy as np

## Loading & Reading the data

In [ ]:
df = pd.read_csv('july_expenses.csv')
df.head()

,Period,Accounts,Category,Subcategory,Note,INR,Income/Expense,Description,Amount,Currency,Accounts.1
0,31-07-2025,Bank Accounts,Lifestyle,NaN,AC recharge,50.0,Exp.,NaN,50.0,INR,50.0
1,31-07-2025,Bank Accounts,üçú Food,NaN,Chai & biscuit ( ‚Çπ15 chai + ‚Çπ5 parle-g biscuit),20.0,Exp.,NaN,20.0,INR,20.0
2,29-07-2025,Cash,üçú Food,NaN,Chai & biscuit ( ‚Çπ15 chai + ‚Çπ5 parle-g biscuit),20.0,Exp.,NaN,20.0,INR,20.0
3,29-07-2025,Cash,üçú Food,NaN,"Maggi of ‚Çπ30 (‚Çπ60 / 2 me and Anshu), French fr...",150.0,Exp.,NaN,150.0,INR,150.0
4,29-07-2025,Cash,üçú Food,NaN,Chinese samosa in canteen,15.0,Exp.,NaN,15.0,INR,15.0
...,...,...,...,...,...,...,...,...,...,...,...
67,06-07-2025,Cash,Other,NaN,"150 of small tool , let‚Äôs see if we ask it fro...",150.0,Exp.,NaN,150.0,INR,150.0
68,06-07-2025,Bank Accounts,üçú Food,NaN,Doritos chips,20.0,Exp.,NaN,20.0,INR,20.0
69,03-07-2025,Cash,üë¨üèª Social Life,NaN,Cafe adda with prachi,400.0,Exp.,NaN,400.0,INR,400.0
70,02-07-2025,Cash,üë¨üèª Social Life,NaN,"‚Çπ30 papdi chaat, ‚Çπ30 of ‚Çπ20 appy (‚Çπ10x2) and ...",60.0,Exp.,Gave party to Manak and Hemant,60.0,INR,60.0
71,01-07-2025,Bank Accounts,üéÅ Gift,NaN,NaN,1.0,Exp.,Abhishek account check,1.0,INR,1.0

## Calculating Total Expenses

In [ ]:
expenses_only = df[df["Income/Expense"] == "Exp."]
# print(expenses_only) #  New DF is created which only includes expenses data means data which has exp.


total_expenses = expenses_only["INR"].sum()
print("Total expenses: ", total_expenses)

Total expenses:  5823.1

## Average Expense or Mean of Expenses

In [17]:
average_expense = expenses_only["INR"].mean()
print("Average expense: ", average_expense)

Average expense:  83.18714285714286

## Median Expense

In [19]:
median_expense = expenses_only['INR'].median()
print("Median expense: ", median_expense)

Median expense:  28.0

## Minimum Expense

In [21]:
minimum_expense = expenses_only['INR'].min()
print("Minimum expense: ", minimum_expense)

Minimum expense:  1.0

## Maximum Expense

In [22]:
maximum_expense = expenses_only['INR'].max()
print("Maximum expense: ", maximum_expense)

Maximum expense:  1200.0